
/* Custom styles for Confluence (included for all themes by default) */

div#header{	display:none;	}
div#footer{	display:none;	}
div#children-section{	display:none;	}
div#labels-section{	display:none;	}
.page-metadata	{	display:none;	}
div#navigation { display:none;}
.plugin_pagetree_childtoggle_container .icon-minus{background:transparent url("http://www.igetui.com/wp-content/uploads/tree1.png") no-repeat scroll 0 4px;}
.plugin_pagetree_childtoggle_container .icon-plus{background:transparent url("http://www.igetui.com/wp-content/uploads/tree2.png") no-repeat scroll 0 4px;}
.plugin_pagetree_childtoggle_container .icon-square{background:transparent url("http://www.igetui.com/wp-content/uploads/tree3.png") no-repeat scroll 0 4px;}

#splitter-sidebar .plugin_pagetree li a, #splitter-sidebar .plugin_pagetree ul {
font-size: 13px;
}
#splitter-sidebar .plugin_pagetree li {
padding: 6px 0;
margin: 0 0 0 24px;
}
#splitter-sidebar .plugin_pagetree li ul li {
margin-left: 5px;
}

.wiki-content a, .wiki-content a:link, .wiki-content a:visited {
text-decoration: none;

}
#main a {
/*color:#1588cc*/
;}
.wiki-content a:hover {
text-decoration: underline;
}
#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
font-weight: normal;
border-bottom: none;}


#main {
font-family: "微软雅黑", "黑体", "宋体";
padding:20px 30px;
font-size:14px;
}

.wiki-content a, .wiki-content a:link, .wiki-content a:visited, .wiki-content a:focus, .wiki-content a:hover, .wiki-content a:active {
color:#1588cc;
}

.wiki-content ul {
list-style-type: none;
padding-left:2px;
}

.wiki-content li {
line-height: 25px;
}
#splitter-sidebar{background-repeat:repeat-y;background-position:right top;background-color:#F0F0F0;}
.vsplitbar {
background-color: #F0F0F0;
border-right: 1px solid #ccc;
}

#splitter-sidebar {
background-image:none;
}

#content .infoMacro {
background: #fff;
border: 1px solid #ccc;
border-top-left-radius: 0;
border-top-right-radius: 0;
}


.sectionMacro .panelMacro {
margin: 0;
background: #fff;
}
p.sidebar-title {
background: #0087CF;
padding: 15px;
color: #fff;
margin: 0;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
}
.wiki-content .catalog {
border: 1px solid #ccc;
width: 440px;
padding: 5px 15px 0 15px;
border-bottom: 6px solid #0087CF;
}
#splitter-sidebar .plugin_pagetree #pagetreesearch {
margin-top:35px;
}
h1.pagetitle {
line-height: 1;
margin: 10px 0 -5px 0;
}

#splitter-sidebar .plugin_pagetree li a, #splitter-sidebar .plugin_pagetree ul {
font-size:14px;
}




/* End custom styles for Confluence */


